{
  "datacenter": "east-aws",
  "data_dir": "/opt/consul",
  "log_level": "INFO",
  "server": true,
  "addresses": {
    "https": "0.0.0.0",
    "http": "0.0.0.0"
  },
  "bootstrap": false,
  "bootstrap_expect": {{ bootstrap_expect }},
  "server": {{ is_server }},
  "retry_join": ["provider=aws tag_key=Consul_Join tag_value=vault"],
  "client_addr": "0.0.0.0",
  "disable_host_node_id": true
}